<template>
    <style> </style>

    <fieldset>
        <legend>Filtro</legend>
        <div class="inline">
            <select id="cmb-range">
                <option value="DUE">VENCIMENTO</option>
                <option value="PAY">DATA DE PGTO.</option>
                <option value="REG">DATA DE REGISTRO</option>
            </select>
            <label>de</label>
            <input type="date" id="edt-ini" value="2026-07-01">
            <label>até</label>
            <input type="date" id="edt-fin" value="2026-07-03">
            <label>Status:</label>
            <select id="cmb-status">
                <option value="LIQUIDADO">LIQUIDADO</option>
                <option value="EM_ABERTO">EM ABERTO</option>
                <option value="BAIXADO">BAIXADO</option>
            </select>
            <button id="get-bills" class="btn-round" ><span class="mdi mdi-magnify"></span></button>
        </div>
    </fieldset>
    <table id="tbl-bills"></table>


</template>
<script>
    const pageData = main_data.bank_cobrancas.data
    const pageFunc = main_data.bank_cobrancas.func
    const pageScreen = document.querySelector('#card-bank_cobrancas')

    function startPage(){

        pageScreen.querySelector('#edt-ini').value = today.iniMonth()
        pageScreen.querySelector('#edt-fin').value = today.finMonth()

        getFile('/../config/workspaces.json').then((response)=>{
            pageData.workspace = 0
        
            const json = JSON.parse(response).content

            for(let i=0; i<json.length; i++){
                if(json[i].select){
                    pageData.workspace = json[i]
                }
            }
            if(!pageData.workspace){
                alert('Nenhum workspace selecionado! Vá para menu Bancário|Workspaces.')
                closeModal('bank_cobrancas')
            }

        })
    }

/* DOM */

    pageScreen.querySelector('#get-bills').addEventListener('click',()=>{
        const dt_ini = pageScreen.querySelector('#edt-ini').value
        const dt_fin = pageScreen.querySelector('#edt-fin').value
        const status = pageScreen.querySelector('#cmb-status').value
        const range  = pageScreen.querySelector('#cmb-range').value
        getBills(pageData.workspace.id,dt_ini,dt_fin,status,range).then((resolve)=>{
            const json = JSON.parse(resolve)
            const tbl = pageScreen.querySelector('#tbl-bills')
            tbl.innerHTML = ''
            if(json.sucesso){
                tbl.head('Cliente,Valor,Vencimento,Status')
                for(let i=0; i<json.boletos.length; i++){
                    console.log(json.boletos[i])
                    tbl.plot(json.boletos[i],`${json.boletos[i].payer.name},nominalValue,dueDate,status`,'let,R$.,dat,Upp')
                }

            }else{
                alert(json.erro)
            }


        })
    })

/* COBRANÇA */

    function getBills(workspace_id,data_inicio, data_final,status,range) {
        const params = new URLSearchParams();
        params.append("workspace_id", workspace_id);
        params.append("data_inicio", data_inicio);
        params.append("data_fim", data_final);
        params.append("status", status);
        params.append("data_range", range);

        const url_params = "backend/bank/get_bills.php?" + params.toString();

        const myRequest = new Request(url_params, {
            method: "GET"
        });

        return new Promise((resolve, reject) => {
            fetch(myRequest)
            .then(function (response) {
//                if (response.status === 200) { 
                    resolve(response.text());                    
//                } else { 
//                    reject(new Error("Houve algum erro na comunicação com o servidor. Status: " + response.status));                    
//                } 
            })
            .catch(function (error) {
                reject(error); // Captura erros de rede ou conexão
            });
        });   
    }


    
    startPage()

</script>