<template>
    <style> </style>
  
    <div class="tab-bar">
        <div class="tab-item" id="tab-cliente"  onclick="pictab(this)">Cliente     </div>            
        <div class="tab-item" id="tab-fatura"   onclick="pictab(this)">Fatura </div>
        <div class="tab-item" id="tab-bank"     onclick="pictab(this)">Histórico </div>
    </div>

    <div class="tab-screen">        
        <div id="cliente" class="tab">
            <div class="inline">
                <label> Razão Social *</label>
                <input type="text" id="edt-RazSoc" class="campo" maxlength="60" disabled/>
                <button id="btn-cliente" class="btn-round"><span class="mdi mdi-magnify"></span>
            </div>            
            <div class="inline">
                <select id="payer_documentType" class="campo bill" style="max-width: 100px; margin: 0;" disabled>
                    <option value="CPF">CPF</option>
                    <option value="CNPJ" selected>CNPJ</option>
                </select>
                <input type="text" id="payer_documentNumber" class="campo bill" maxlength="18" onkeyup="valCNPJ(this)" disabled/>
                <label> Insc. Est. </label>
                <input type="text" id="edt-ie" class="campo" maxlength="18" onkeyup="valInt(this)" disabled/>
            </div>
            <div class="inline">
                <label> Endereço </label>
                <input type="text" id="payer_address" class="campo bill" maxlength="60" disabled/>
            </div>
            <div class="inline">
                <label> Bairro </label>
                <input type="text" id="payer_neighborhood" class="campo bill" maxlength="60" disabled/>
                <label> Complemento </label>
                <input type="text" id="edt-compl" class="campo" maxlength="60" style="max-width: 200px;" disabled/>
            </div>
            <div class="inline">
                <label> Municipio</label>
                <input type="text" id="payer_city" class="campo bill" maxlength="60" disabled/>
                <label> Sigla da UF </label>
                <input type="text" id="payer_state" class="campo bill" maxlength="2" style="max-width: 50px;" disabled/>
            </div>
            <div class="inline">
                <label> CEP </label>
                <input type="text" id="payer_zipCode" class="campo bill" maxlength="8" onkeyup="valCEP(this)" disabled/>
                <label for="Telefone">Fone</label>
                <input type="text" id="edt-fone" class="campo" onkeyup="phone(this)" maxlength="15" disabled>
            </div>
            <div class="inline">
                <label> Email </label>
                <input type="text" id="edt-email" class="campo" class="campo" maxlength="50" onkeyup="validaEmail(this)" disabled/>
            </div>   
            <div class="line">
                <button id="btn-edt-cliente">Editar</button>
            </div>


        </div>
        <div id="fatura" class="tab">
            <div class="inline">
                <label>Cliente</label>
                <input type="text" class="bill" id="payer_name" readonly>
            </div>
            <div class="inline">
                <label>Data</label>
                <input type="date" class="bill" id="nsuDate">
                <label>Ambiente</label>
                <select class="bill" id="environment">
                    <option value="TESTE">TESTE</option>
                    <option value="PRODUCAO">PRODUCAO</option>
                </select>
                <label>Cod. Convênio.</label>
                <input type="text" class="bill" id="covenantCode" readonly>
            </div>
            <div class="inline">        
                <label>Valor R$</label>
                <input type="text" class="bill" id="nominalValue" onkeyup="valFloat(this)">
                <label>Data Venc.</label>
                <input type="date" class="bill" id="dueDate">
            </div>
            <div class="inline">
                <label>Seu Num.</label>
                <input type="text" class="bill" id="clientNumber">
            </div>
            <div class="inline">
                <label>Tipo Boleto</label>
                <select class="bill" id="documentKind">
                    <option value="DUPLICATA_MERCANTIL" selected>DUPLICATA MERCANTIL</option>
                    <option value="DUPLICATA_SERVICO">DUPLICATA SERVICO</option>
                    <option value="NOTA_PROMISSORIA">NOTA PROMISSORIA</option>
                    <option value="NOTA_PROMISSORIA_RURAL">NOTA PROMISSORIA RURAL</option>
                    <option value="RECIBO">RECIBO</option>
                    <option value="APOLICE_SEGURO">APOLICE DE SEGURO</option>
                    <option value="BOLETO_CARTAO_CREDITO">BOLETO CARTAO DE CREDITO</option>
                    <option value="BOLETO_PROPOSTA">BOLETO PROPOSTA</option>
                    <option value="BOLETO_DEPOSITO_APORTE">BOLETO DEPOSITO APORTE</option>
                    <option value="CHEQUE">CHEQUE</option>
                    <option value="NOTA_PROMISSORIA_DIRETA">NOTA PROMISSORIA DIRETA</option>
                    <option value="OUTROS">OUTROS</option>
                </select>
                <label>Tipo Pgto.</label>
                <select class="bill" id="paymentType">
                    <option value="REGISTRO" selected>REGISTRO</option>
                    <option value="DIVERGENTE">DIVERGENTE</option>
                    <option value="PARCIAL">PARCIAL</option>
                </select>
            </div>
            <div class="inline">
                <label>Protesto</label>
                <select class="bill" id="protestType">
                    <option value="SEM_PROTESTO" selected>SEM PROTESTO</option>
                    <option value="DIAS_CORRIDOS">DIAS_CORRIDOS</option>
                    <option value="DIAS_UTEIS">DIAS UTEIS</option>
                    <option value="CADASTRO_CONVENIO">CADASTRO CONVENIO</option>
                </select>
                <label>Dias</label>
                <input type="text" class="bill" id="protestQuantityDays" onkeyup="valInt(this)" value="0">
            </div>
            <div class="inline">
                <label>Mensagem</label>
                <textarea class="bill" id="messages"></textarea>
            </div>
            <div class="line">
                <button id="set-bills">Gerar</button>    
            </div>
        </div>        
        <div id="bank" class="tab">
            <table id="tbl-bills"></table>
        </div>
    </div>

</template>
<script>
    const pageData = main_data.bank_new_bill.data
    const pageFunc = main_data.bank_new_bill.func
    const pageScreen = document.querySelector('#card-bank_new_bill')

    function startPage(){
        pageScreen.querySelector('#tab-cliente').click()
        pageScreen.querySelector('#nsuDate').value = today.getFormatDate()
        today.change(30)
        pageScreen.querySelector('#dueDate').value = today.getFormatDate()
        today.change(-30)

        getFile('/../config/workspaces.json').then((response)=>{
            pageData.workspace = 0
        
            const json = JSON.parse(response).content

            for(let i=0; i<json.length; i++){
                if(json[i].select){
                    pageData.workspace = json[i]
                }
            }
            if(!pageData.workspace){
                alert('Nenhum workspace selecionado! Vá para menu Bancário|Workspaces.')
                closeModal('bank_new_bill')
            }

        })

        loadData()

        fillBills()
    }

/* */

    function openFields(open=1){
        const view = pageScreen.querySelectorAll('.campo')
        for(let i=0; i<view.length; i++){
            view[i].disabled = !open
        }
    }

    pageFunc.buscaEmp = (data)=>{
        pageScreen.querySelector('#payer_name').value = data.nome
        pageScreen.querySelector('#edt-RazSoc').value = data.nome
        pageScreen.querySelector('#payer_documentNumber').value = getCNPJ(data.cnpj)
        pageScreen.querySelector('#edt-ie').value = getIE(data.ie)
        pageScreen.querySelector('#payer_address').value = data.endereco+', '+data.num
        pageScreen.querySelector('#payer_neighborhood').value = data.bairro
        pageScreen.querySelector('#edt-compl').value = data.comp
        pageScreen.querySelector('#payer_city').value = data.cidade
        pageScreen.querySelector('#payer_state').value = data.estado
        pageScreen.querySelector('#payer_zipCode').value = data.cep
        pageScreen.querySelector('#edt-fone').value = data.tel
        pageScreen.querySelector('#edt-email').value = data.email
        pageScreen.querySelector('#tab-fatura').click()
    }

/* DOM */    

    pageScreen.querySelector('#btn-cliente').addEventListener('click',()=>{
        openHTML('busca_emp.html','pop-up','Selecione o Cliente',{"org":"bank_new_bill"})
    })

    pageScreen.querySelector('#btn-edt-cliente').addEventListener('click',()=>{
        if(confirm('Abrir registro para edição?')){
            openFields(1)
        }
    })

    pageScreen.querySelector('#environment').addEventListener('change',()=>{
        const cmb = pageScreen.querySelector('#environment')
        pageScreen.querySelector('#covenantCode').value = cmb.value ==='PRODUCAO' ? '1226029' : '00334455'
    })

    pageScreen.querySelector('#set-bills').addEventListener('click',()=>{
        if(checkField(['payer_name','nominalValue','clientNumber'])){
            saveBill()
        }
    })
    
    pageScreen.querySelector('#tbl-bills').addEventListener('click',(e)=>{
        const data = e.target.parentNode.data
        if(data!=undefined){
            const tbl = []
            const reg = new Object
            reg.label = 'Registrar no banco'
            reg.link = ()=>{
                const obj = new Object
                Object.entries(data).forEach(([key, value]) => {
                    if(key=='nsuCode'){
                        value = data.environment == 'TESTE' ? 'TST'+value : value
                    }
                    setNestedValue(obj,key.split('_'),value)
                });

                if(pageData.workspace){
                    console.log(obj)
                    setBill(pageData.workspace.id,JSON.stringify(obj)).then((response)=>{
                        console.log(response)
                    })

                }


            }
            tbl.push(reg)

            const del = new Object
            del.label = 'Deletar'
            del.link = ()=>{
                if(confirm('Deseja deletar esta cobrança?')){
                    saveBill(getNum(data.nsuCode),1).then(()=>{
                        fillBills()
                    })
                }
            }
            tbl.push(del)
          
            menuContext(tbl,e)  
        }

    })


/* COBRANÇAS */

    const setNestedValue = (obj, keys, value) => {
        if(value != null){
            const lastKey = keys.pop(); 
            const lastObject = keys.reduce((acc, key) => {
                if (!acc[key] || typeof acc[key] !== 'object') {
                    acc[key] = new Object;
                }
                return acc[key];
            }, obj);
            lastObject[lastKey] = value;
        }
        return obj;
    };

    function loadData(){
        const data = new URLSearchParams()
        data.append("path",'/../config/data.json' )

        const myRequest = new Request("backend/loadFile.php",{
            method : "POST",
            body : data
        })
        fetch(myRequest).then((response)=>{
            response.text().then((txt)=>{
                const json = JSON.parse(txt)
                pageScreen.querySelector('#environment').value = json.hasOwnProperty('environment') ? json.environment : 'TESTE'
                pageScreen.querySelector('#covenantCode').value = json.hasOwnProperty('covenantCode') ? json.covenantCode : '00334455'
                pageScreen.querySelector('#documentKind').value = json.hasOwnProperty('documentKind') ? json.documentKind : 'DUPLICATA_MERCANTIL'
                pageScreen.querySelector('#paymentType').value = json.hasOwnProperty('paymentType') ? json.paymentType : 'REGISTRO'
                pageScreen.querySelector('#protestType').value = json.hasOwnProperty('protestType') ? json.protestType : 'SEM_PROTESTO'
                pageScreen.querySelector('#protestQuantityDays').value = json.hasOwnProperty('protestQuantityDays') ? json.protestQuantityDays : '0'
            })
        })
    }

    function fillBills(){
        const params = new Object;
        params.covenantCode = 0
        const myPromisse = queryDB(params,'BANK-0');
        const tbl = pageScreen.querySelector('#tbl-bills')
        tbl.innerHTML = ''
        tbl.head('Cliente,Nosso Num.,Valor,Venc.')
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            for(let i=0; i<json.length; i++){
                tbl.plot(json[i],'payer_name,clientNumber,nominalValue,dueDate','Upp,Upp,R$.,dat')
            }
        })
    }

    function saveBill(id=0, del=0){
        const params = new Object;
        params.nsuCode = id
        params.nsuDate = pageScreen.querySelector('#nsuDate').value.trim()
        params.environment = pageScreen.querySelector('#environment').value.trim()
        params.covenantCode = getNum(pageScreen.querySelector('#covenantCode').value.trim())
        params.payer_documentType = pageScreen.querySelector('#payer_documentType').value.trim()
        params.payer_documentNumber = getNum(pageScreen.querySelector('#payer_documentNumber').value.trim())
        params.payer_name = del ? '' : pageScreen.querySelector('#payer_name').value.trim()
        params.payer_address = pageScreen.querySelector('#payer_address').value.trim()
        params.payer_neighborhood = pageScreen.querySelector('#payer_neighborhood').value.trim()
        params.payer_city = pageScreen.querySelector('#payer_city').value.trim()
        params.payer_state = pageScreen.querySelector('#payer_state').value.trim()
        params.payer_zipCode = getNum(pageScreen.querySelector('#payer_zipCode').value)
        params.clientNumber = pageScreen.querySelector('#clientNumber').value.trim()
        params.dueDate = pageScreen.querySelector('#dueDate').value.trim()
        params.nominalValue = pageScreen.querySelector('#nominalValue').value.trim()
        params.documentKind = pageScreen.querySelector('#documentKind').value.trim()
        params.protestType = pageScreen.querySelector('#protestType').value.trim()
        params.protestQuantityDays = pageScreen.querySelector('#protestQuantityDays').value.trim()
        params.paymentType = pageScreen.querySelector('#paymentType').value.trim()
        params.messages = pageScreen.querySelector('#messages').value.trim()

        const myPromisse = queryDB(params,'BANK-1');
        return myPromisse.then((resolve)=>{
            setLog(`BOLETO REGISTRADO: ${params.nsuDate} - ${params.payer_name} R$${params.nominalValue} Venc.${params.dueDate} Nosso Num: ${params.clientNumber}`)
            fillBills()
            alert('Cadastrado efetuado!')
            pageScreen.querySelector('#tab-bank').click()
        })    
    }

    function objBill(){
        const fields = pageScreen.querySelectorAll('.bill')        
        const obj = new Object
        for(let i=0; i<fields.length; i++){
            const key = fields[i].id.split('_')
            setNestedValue(obj,key,fields[i].value)
        }
        return obj
    }

    function setBill(workspace_id,payload){

        const data = new URLSearchParams();        
        data.append("workspace_id", workspace_id);
        data.append("payload", payload);
        const myRequest = new Request("backend/bank/set_bills.php",{        
            method : "POST",
            body : data
        });

        return new Promise((resolve,reject) =>{
            fetch(myRequest)
            .then(function (response){
                if (response.status === 200 || response.status === 201) { 
                    resolve(response.text());                    
                } else { 
                    reject(new Error("Houve algum erro na comunicação com o servidor"));                    
                } 
            });
        });   
    }


    startPage()

</script>