
<template>
    <style>

        #tblPed{
            font-size: 0.9em;
        }

        #fdsRelat{
            display: none;
        }

        #btnClearNF{
            display: none;
        }

        .mdi{
            font-size: 1.5em;
        }

        .btn-round .mdi{
            font-size: 1em;
        }

    </style>
    
    <fieldset id="fdsPed">
        <legend>Pedido</legend>
        <table id="tblPed">
            <tr>
                <th>Empresa</th><th>Emissão</th><th class="mobHide">Vendedor</th><th  class="mobHide">Comprador</th><th>Entrega</th><th>Valor</th>
            </tr>
            <tr id="empEdit">
                <td id="tdEmp"></td><td id="tdEmi"></td><td id="tdVend"  class="mobHide"></td><td id="tdComp"  class="mobHide"></td><td id="tdEnt"></td><td id="tdVal"></td>
            </tr>
        </table>
        <div class="line">
            <button id="btnFecha" disabled><span class="mdi mdi-folder-wrench-outline"></span> Encerrar</button>
            <button id="btnClearNF"><span class="mdi mdi-delete-empty"></span> Deletar PDF</button>
        </div>
    </fieldset>
    <fieldset>
        <legend>Ítens</legend>
        <table id="tblItens"></table>
        <div class="line">
            <button id="btnAdd" disabled><span class="mdi mdi-plus-thick"></span> Adicionar</button> 
        </div>
    </fieldset>
    <fieldset id="fdsRelat">
        <legend>Relatórios</legend>
        <div class="line">
            <div class="ckBOX">
                <label for="ckbValor">Mostrar Valor</label>
                <input type="checkbox" id="ckbValor" checked>
            </div>
            <div class="line">
                <button id="btnCot"><span class="mdi mdi-file-document-outline"></span> Cotação</button>
                <button id="btnRecMat"><span class="mdi mdi-file-document-check-outline"></span> Recibo de Material</button>
            </div>
        </div>
    </fieldset>

</template>
<script>

    const pageData = main_data.com_view_cot.data
    const pageFunc = main_data.com_view_cot.func
    const pageScreen = document.querySelector('#card-com_view_cot')

    pageFunc.startPage = ()=>{
        pageScreen.querySelector('#tdEmp').innerHTML = pageData.EMPRESA.toUpperCase()
        pageScreen.querySelector('#tdEmi').innerHTML = pageData.data_ped != null ? pageData.data_ped.date() : '*'
        pageScreen.querySelector('#tdVend').innerHTML = pageData.resp != null ? pageData.resp.toUpperCase() : '*'
        pageScreen.querySelector('#tdComp').innerHTML = pageData.comp != null ? pageData.comp.toUpperCase(): '*'
        pageScreen.querySelector('#tdEnt').innerHTML = pageData.data_ent != null ? pageData.data_ent.date() : '*'
        pageScreen.querySelector('#tdVal').innerHTML = pageData.VALOR != null ? pageData.VALOR.money() : '*'

        if(pageData.status == 'COT'){
            pageScreen.querySelector('#btnAdd').disabled = false            
            pageScreen.querySelector('#btnFecha').innerHTML = '<span class="mdi mdi-folder-wrench-outline"></span> Encerrar'
        }else if(pageData.status == 'PED'){
            pageScreen.querySelector('#btnFecha').innerHTML = 'Upload NF' 
            pageScreen.querySelector('#btnAdd').disabled = true
        }else if(pageData.status == 'FAT'){
            pageScreen.querySelector('#btnFecha').innerHTML = '<span class="mdi mdi-file-check-outline"></span> PDF NFe'
            pageScreen.querySelector('#btnClearNF').style.display = 'block'
        }
        pageFunc.fillItens()
    }

    pageFunc.fillItens = ()=>{
        const params = new Object;
            params.ped_id = pageData.id
        const myPromisse = queryDB(params,'COT-2');
        myPromisse.then((resolve)=>{
            pageData.itens = JSON.parse(resolve)
            const tbl = pageScreen.querySelector('#tblItens')
            tbl.innerHTML = ''
            pageData.total = 0
            if(pageData.itens.length>0){
                pageScreen.querySelector('#btnFecha').disabled = false
                tbl.head('Cod.|mobHide,Descrição,Und.|mobHide,Qtd.,Preço Unit.,Sub Total')
                for(let i=0; i<pageData.itens.length; i++){
                    tbl.plot(pageData.itens[i],'cod_prod|mobHide,descricao,unidade|mobHide,qtd,preco,TOTAL','str,Upp,Upp,str,R$.,R$.')
                    pageData.total += parseFloat(pageData.itens[i].TOTAL)
                }
                pageScreen.querySelector('#tdVal').innerHTML = pageData.total.toString().money() 
                pageScreen.querySelector('#fdsRelat').style.display = 'block'
            }else{
                pageScreen.querySelector('#fdsRelat').style.display = 'none'
            }            
        })
    }

    pageFunc.buscaProd = (data)=>{
        data.qtd = prompt(`Digite a Quantidade: (em estoque: ${data.estoque} ${data.unidade})`)

        const params = new Object;
            params.id = 'DEFAULT'
            params.id_prod = data.id
            params.id_ped = pageData.id
            params.qtd = data.qtd
            params.valor = data.preco_comp
            params.und = data.unidade
        const myPromisse = queryDB(params,'COT-3');
        myPromisse.then((resolve)=>{
            pageFunc.fillItens()
            main_data.com_cotacoes.func.fillCot()
        })
    }

    pageFunc.edtItem = (data)=>{
        const params = new Object
        params.id = data.id
        params.id_prod = data.id_prod
        params.id_ped = data.id_ped
        params.qtd = data.qtd
        params.preco = data.preco
        params.und = data.und
        const myPromisse = queryDB(params,'COT-3')
        myPromisse.then((resolve)=>{
            try{
                main_data.com_cotacoes.func.fillCot()
                pageFunc.fillItens()
            }catch{
                console.error('Janela COTAÇÕES fechada pelo usuário!')
            }
        })
    }

    pageFunc.uploadCallBack= (promisse)=>{
        promisse.then((response)=>{
            pageFunc.changeStatus('FAT')            
        })
    }

    pageFunc.changeStatus = (stt)=>{
        const params = new Object;
            params.id = pageData.id
            params.status = stt
        const myPromisse = queryDB(params,'COT-5');
        myPromisse.then((resolve)=>{
            try{
                pageData.status = stt
                pageFunc.startPage()
                main_data.com_cotacoes.func.fillCot()
            }catch{
                console.error('Pagina COTAÇÕES fechada pelo usuário!')
            }
        })
    }

    pageScreen.querySelector('#btnFecha').addEventListener('click',()=>{

        switch(pageData.status){
            case 'COT':
                if(confirm('Transformar esta cotação em pedido?')){
                    pageFunc.changeStatus('PED')
                }
            break
            case 'PED':
                const file = new Object
                    file.path = '../NF/NFe/pdf/'
                    file.name = `PED-${pageData.id}.pdf`
                    file.org = 'com_view_cot'
                openHTML('tool_upload_file.html','pop-up','Upload de NF', file,500)
            break
            case 'FAT':                
                const url = `../NF/NFe/pdf/PED-${pageData.id}.pdf`
                window.open(url, '_blank')
            break            
        }
    })

    pageScreen.querySelector('#btnAdd').addEventListener('click',()=>{
        openHTML('busca_prod.html','pop-up','Adicione um Produto ou Serviço',{'org':'com_view_cot'},600)        
    })

    pageScreen.querySelector('#btnCot').addEventListener('click',()=>{
        print_cotacao(pageData,'cot')       
    })

    pageScreen.querySelector('#btnRecMat').addEventListener('click',()=>{
        print_cotacao(pageData,'rec')
    })
    
    pageScreen.querySelector('#empEdit').addEventListener('click',()=>{  
        if(pageData.status=='COT'){
            openHTML('com_new_cot.html','pop-up',(pageData.status=='COT'?'Cotação-':'Pedido-') + pageData.num_ped, pageData)
        }
    })

    pageScreen.querySelector('#tblItens').addEventListener('click',(e)=>{
        if(pageData.status=='COT'){
            data = e.target.parentNode.data
            data.org = 'com_view_cot'
            openHTML('com_edit_prod.html','pop-up','Alteração do Ítem',data,500)
        }
    })

    pageScreen.querySelector('#btnClearNF').addEventListener('click',()=>{
        if(confirm('Deseja realmente deletar a NFe referente a este Pedido?')){
            pageFunc.changeStatus('PED')
            closeModal('com_view_cot')
        }
    })

    pageFunc.startPage()


</script>