
<template>
    <style>
        .frm{
            padding: 10px;
        }

        #btnGetKey{
            width: -moz-available;
            padding: 7px;
        }

        #btnGetKey span{
            font-size: 1.4em;
        }
        @media all and (max-width : 768px) {
            .frm input, .frm select{
                width: 98% !important;
            }
        }

    </style>

    <fieldset class="frm" >
        <legend>Descrição e valores</legend>

        <div class="inline">
            <label for="cmbTipoPg">Tipo Pgto</label>
            <select id="cmbTipoPg"  class="only-view" disabled>
                <option value="FOLHA" selected> Folha de Pagamento</option>
                <option value="ADTO">Adiantamento</option>
                <option value="FERIAS">Férias</option>
                <option value="PLR">Participação nos Lucros e Resultados</option>
                <option value="BONUS">Bônus</option>
                <option value="PIX" >Outros</option>             
            </select>
        </div>

        <div class="inline">
            <label for="cmbBenef">Beneficiário</label>
            <select id="cmbBenef" class="only-view" disabled>
                <option value="0" selected>Todos</option>
            </select>
    
        </div>

        <div class="inline">
            <label for="edtVal">Valor R$</label>
            <input type="text" class="only-view" id="edtVal" inputmode="decimal" onkeyup="valFloat(this)" disabled>
            <label for="edtVenc">Vencimento</label>
            <input type="date" class="only-view" id="edtVenc" disabled>
            <label for="ckbQuit">Pago</label>
            <input type="checkbox" id="ckbQuit" class="only-view" disabled>
        </div>

        <div class="inline">
            <label for="edtDesc">Descrição</label>
            <input type="text" class="only-view" id="edtDesc" maxlength="128" disabled>
        </div>

        <div class="line">
            <button id="btnDel" class="only-view" disabled>Deletar</button>
            <button id="btnEdit">Editar</button>
            <button id="btnSave" class="only-view" disabled>Salvar</button>
        </div>
    </fieldset>

</template>
<script>
    
    const pageData = main_data.fin_view_folha.data
    const pageFunc = main_data.fin_view_folha.func
    const pageScreen = document.querySelector('#card-fin_view_folha')
    const newPgto = Object.keys(pageData).length == 0

    function startPage(){
//        pageFunc.fillEmp()
        if(newPgto){
            openFields(1)
            pageScreen.querySelector('#btnDel').disabled = 1
            pageScreen.querySelector('#btnEdit').disabled = 1
            pageScreen.querySelector('#edtVenc').value =  today.getFormatDate()            
            pageData.tipo = 'DEP. BANCARIO'
            setDescricao()
            fillFunc()
        }else{
            pageScreen.querySelector('#edtDesc').value = pageData.nome
            pageScreen.querySelector("#cmbBenef").innerHTML = `<option>${pageData.beneficiario}</option>`
            pageScreen.querySelector('#edtVal').value = pageData.valor
            pageScreen.querySelector('#edtVenc').value = pageData.venc
            pageScreen.querySelector('#cmbTipoPg').value = pageData.tipo
            pageScreen.querySelector('#ckbQuit').checked = Number(pageData.pgto) ? 1 : 0   
        }
    }

    function openFields(open=1){
        const view = pageScreen.querySelectorAll('.only-view')
        for(let i=0; i<view.length; i++){
            view[i].disabled = !open
        }
    }

    function setDescricao(){
        const day = new Date(pageScreen.querySelector('#edtVenc').value)
        day.change(1)
        const cmb = pageScreen.querySelector('#cmbTipoPg')
        pageScreen.querySelector('#edtDesc').value = `Pgto ${cmb.value}, ${meses[day.getMonth()]} de ${day.getFullYear()}`
    }

    function fillFunc(){
        const params = new Object;
            params.field = 'nome'
            params.signal = 'LIKE'
            params.value = "'%%'"
            params.ativo = 1
        const myPromisse = queryDB(params,'FUN-0');
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            pageData.func = json
            const cmb = pageScreen.querySelector('#cmbBenef')
            for(let i=0; i<json.length; i++){
                const opt = document.createElement('option')
                opt.value = json[i].id
                opt.innerHTML = json[i].nome
                opt.data = json[i]
                cmb.appendChild(opt)
            }            
        })
    }

 // id,id_cli,nome,beneficiario,venc,valor,codigo_pgto,tipo,centro_custo,pago
    pageFunc.setPgto = (del=0)=>{
        var sel = pageScreen.querySelector("#cmbBenef");

        const params = new Object;
            params.id = newPgto ? 0 : pageData.id
            params.id_cliente = 0
            params.nome = del ? '' : pageScreen.querySelector('#edtDesc').value.trim()
            params.beneficiario = sel.options[sel.selectedIndex].text
            params.venc = pageScreen.querySelector('#edtVenc').value
            params.valor = pageScreen.querySelector('#edtVal').value
            params.cod_pgto = ''
            params.tipo = pageScreen.querySelector('#cmbTipoPg').value
            params.custo = 'MAO_DE_OBRA'
            params.pgto = pageScreen.querySelector('#ckbQuit').checked
            const myPromisse = queryDB(params,'FIN-6');
        myPromisse.then((resolve)=>{
            setLog(`Folha de Pgto. ${newPgto?'Cadastrada': del ? 'Deletada' : 'Editada'} ${del? pageData.nome : params.nome }, Valor ${params.valor}, Venc. dia ${params.venc}`)
            try{
                main_data.fin_folha.func.fillPag()
            }catch{
                console.error('Tela fechada pelo usuário!')
            }
            alert('Cadastrado efetuado!')
            closeModal('fin_view_folha')
        })
    }

    pageScreen.querySelector('#cmbTipoPg').addEventListener('change',()=>{
        setDescricao()
    })

    pageScreen.querySelector('#btnSave').addEventListener('click',()=>{
        pageFunc.setPgto()
    })

    pageScreen.querySelector('#btnDel').addEventListener('click',()=>{
        if(confirm('Deseja realmente deletar esta Pagamento?')){
            pageFunc.setPgto(1)
        }
    })

    pageScreen.querySelector('#btnEdit').addEventListener('click',()=>{
        if(pageScreen.querySelector('#btnSave').disabled){
            if(confirm('Abrir registro para edição?')){
                openFields(1)
            }
        }else{
            openFields(0)
        }
    })

    startPage()

</script>