<template>
    <style>
        th,td{
            text-align: center;
        }    
    </style>
  
    <fieldset>
        <legend>Arquivos</legend>
        <table id="tblCob"></table>
        <div class="line">
            <button id="btnAdd">Adicionar</button>
        </div>


    </fieldset>






</template>
<script>
    const pageData = main_data.fin_cobrancas.data
    const pageFunc = main_data.fin_cobrancas.func
    const pageScreen = document.querySelector('#card-fin_cobrancas')

    function startPage(){

        pageFunc.fillCob()

    }

    pageFunc.fillCob = ()=>{

        getFile(`/../../NF/Cobrancas/cob_${today.getFullYear()}.json`).then((resolve)=>{
            const json = JSON.parse(resolve)
            const tbl = pageScreen.querySelector('#tblCob')
            tbl.head('Registro,NF,Cliente,Valor,Parc.')
            for(let i=0; i<json.length; i++){
                tbl.plot(json[i],`data,${json[i].tipo} ${json[i].nf},cliente,valor,${json[i].parcelas.length}`,'dat,let,Upp,R$.,let')              
            }
        })

    }

    pageScreen.querySelector('#tblCob').addEventListener('click',(e)=>{

        const data = e.target.parentNode.data
        const tbl = []

        const detail = new Object
        detail.label = 'Vencimentos'
        detail.link = ()=>{
            data != undefined ? openHTML('fin_cob_detail.html','pop-up',`${data.tipo} ${data.nf}`, data,600) : null
        }
        tbl.push(detail)

        const del = new Object
        del.label = 'Deletar'
        del.link = ()=>{
            if(confirm('Deseja remover definitivamente este registro?')){
                const indexline = e.target.closest('tr').rowIndex - 1
                delArrObj(`/../../NF/Cobrancas/cob_2026.json`,indexline)
                .then(()=>{
                    pageFunc.fillCob()
                })
            }
        }
        tbl.push(del)


        const edit = new Object
        edit.label = 'Editar'
        edit.link = ()=>{
            data.indexline = e.target.closest('tr').rowIndex - 1
            data != undefined ? openHTML('fin_view_cob.html','pop-up',`${data.tipo} ${data.nf}`, data) : null
        }
        tbl.push(edit)

        menuContext(tbl,e)  


    })

    pageScreen.querySelector('#btnAdd').addEventListener('click',()=>{
        openHTML('fin_view_cob.html','pop-up','Nova Cobrança',{},800)
    })

    startPage()

</script>