<template>
    <style></style>
  
    <div class="inline">
        <label for="edtData">Data</label>
        <input type="date" id="edtData">
        <label for="cmbTipo">Tipo de Pgto</label>
        <select id="cmbTipo">
            <option value="BOLETO">Boleto Bancário</option>
            <option value="PIX">Pix</option>
            <option value="TED/DOC">Tranferência (TED/DOC)</option>
            <option value="DEPODITO">Depśito Bancário</option>
        </select>
    </div>

    <div class="inline">
        <label for="edtObs">Obs.</label>
        <textarea id="edtObs" rows="5"></textarea>
    </div>

    <div class="line">
        <label for="ckbPgto">Pago</label>
        <input type="checkbox" id="ckbPgto" checked>
    </div>

    <div class="line">
        <svg id="barcode"></svg>
    </div>

    <div class="line">
        <div id="qrcode"></div>
    </div>

    <div class="line">
        <button id="btnPgto">Pagar</button>
    </div>


</template>
<script>

    const pageData = main_data.fin_check_pgto.data
    const pageFunc = main_data.fin_check_pgto.func
    const pageScreen = document.querySelector('#card-fin_check_pgto')

    function pageStart(){
        pageScreen.querySelector('#cmbTipo').value = pageData.tipo
        pageScreen.querySelector('#edtData').value = pageData.pgto_dia == null ? today.getFormatDate() : pageData.pgto_dia
        pageScreen.querySelector('#edtObs').value =  pageData.obs
        pageScreen.querySelector('#ckbPgto').checked = Number(pageData.pgto)
        changePayMode()
    }
// ID,pago,pago_dia,tipo,obs
    pageScreen.querySelector('#btnPgto').addEventListener('click',()=>{
        const params = new Object;
            params.id = pageData.id
            params.pago = pageScreen.querySelector('#ckbPgto').checked
            params.pago_dia = pageScreen.querySelector('#edtData').value
            params.tipo = pageScreen.querySelector('#cmbTipo').value
            params.obs = pageScreen.querySelector('#edtObs').value.trim()
        const myPromisse = queryDB(params,'FIN-7')
        myPromisse.then((resolve)=>{
            setLog(`Pagamento a ${pageData.fornecedor} ${params.pago?'': 'NÃO '}Efetuado, Valor R$${pageData.valor} dia ${params.pago_dia}`)
            try{
                main_data.fin_pagar.func.fillPag()
            }catch{
                console.error('Tela fechada pelo usuário!')
            }
            alert('Cadastrado efetuado!')
            closeModal('fin_check_pgto')
            closeModal('fin_view_pagar')
        })

    })

    pageFunc.showQR = (cod)=>{
        const qrcode = new QRCode("qrcode", {
            text:cod,
            width: 250,
            height: 250,
            colorDark : "#000000",
            colorLight : "#ffffff",
            correctLevel : QRCode.CorrectLevel.H,
            size : 300
        })
    }

    function gerarPayloadPix(chave, valor, nome, cidade) {
        // Validação simples para garantir que os campos obrigatórios sejam preenchidos
        if (!chave || !valor || !nome || !cidade) {
            throw new Error("Todos os campos são obrigatórios.");
        }

        // Formatação do valor (deve ter 2 casas decimais)
        const valorFormatado = parseFloat(valor).toFixed(2);

        // Montando o Payload do PIX
        const payload = `00020126360014BR.GOV.BCB.PIX01${chave}52040000${valorFormatado}5802BR5913${nome}6009${cidade}6304`;

        console.log(payload)

        return payload;
    }

    pageScreen.querySelector('#cmbTipo').addEventListener('change',()=>{
        changePayMode()
    })

    function changePayMode(){
        const sel = pageScreen.querySelector('#cmbTipo')
        if(sel.value == 'BOLETO'){
            pageScreen.querySelector('#barcode').style.display = 'block'
            pageScreen.querySelector('#qrcode').style.display = 'none'
            JsBarcode("#barcode", pageData.cod_pgto);
        }else if(sel.value == 'PIX'){
            pageScreen.querySelector('#barcode').style.display = 'none'
            pageScreen.querySelector('#qrcode').style.display = 'block'
            const myPix = new Pix(pageData.cod_pgto,pageData.valor,pageData.nome,'Cacapava')
            pageFunc.showQR(myPix.payload())
            console.log(myPix)
        }else{
            pageScreen.querySelector('#barcode').style.display = 'none'
            pageScreen.querySelector('#qrcode').style.display = 'none'
        }
    }

    pageStart()

/*
00020126360014BR.GOV.BCB.PIX01
26687200879
52040000
100.00
5802BR5913
por PIx
6009
Cacapava
6304

00020126
580014br.gov.bcb.pix0136bee05743-4291-4f3c-9259-595df1307ba1520400005303986540510.005802BR5914Alexandre Lima6019Presidente Prudente62180514Um-Id-Qualquer6304D475
*/




</script>
