<template>
    <style></style>
  
    <div class="inline">
        <label for="edtData">Data</label>
        <input type="date" id="edtData">
        <label for="cmbTipo">Tipo de Pgto</label>
        <select id="cmbTipo">
            <option value="BOLETO">Boleto Bancário</option>
            <option value="PIX">Pix</option>
            <option value="TED/DOC">Tranferência (TED/DOC)</option>
            <option value="DEPODITO">Depśito Bancário</option>
        </select>
    </div>

    <div class="inline">
        <label for="edtObs">Obs.</label>
        <textarea id="edtObs" rows="5"></textarea>
    </div>

    <div class="line">
        <label for="ckbPgto">Pago</label>
        <input type="checkbox" id="ckbPgto" checked>
    </div>

    <div class="line">
        <svg id="barcode"></svg>
    </div>

    <div class="line">
        <div id="qrcode"></div>
    </div>

    <div class="line">
        <button id="btnPgto">Pagar</button>
    </div>


</template>
<script>

    const pageData = main_data.fin_check_pgto.data
    const pageFunc = main_data.fin_check_pgto.func
    const pageScreen = document.querySelector('#card-fin_check_pgto')

    function pageStart(){
        pageScreen.querySelector('#cmbTipo').value = pageData.tipo
        pageScreen.querySelector('#edtData').value = pageData.pgto_dia == null ? today.getFormatDate() : pageData.pgto_dia
        pageScreen.querySelector('#edtObs').value =  pageData.obs
        pageScreen.querySelector('#ckbPgto').checked = Number(pageData.pgto)
        changePayMode()
    }

// 4619-1 1100-0 00000 00003-4 15898 97701-0 8 10970000119130    <- linha digitável
// 4619 8 10970000119130 1 1100 00000 00003 15898 97701          <- cod barras

// 46191110000000000003415898977010810970000119130               <- linha digitável
// 46198109700001191301110000000000031589897701                  <- cod barras
 
/*-----------------------------------------------------------*/

// 2379-0 2720-0 90018 00233-8 38016 45020-7 9 10940000227484    <- linha digitável
// 2379 9 10940000227484 0 2720 90018 00233 38016 45020          <- cod barras

// 23970272009001800233838016450207910940000227484               <- linha digitável
// 23799109400002274840272090018002333801645020                  <- cod barras

    function cod2barcode(code){
        let out = '0'
        const cod = getNum(code)
        if(cod.length == 47){
            out  = cod.substr(0,4)+cod.substr(32,15)+cod.substr(4,1)+cod.substr(5,4)+cod.substr(10,10)+cod.substr(21,10)
        }
        return out
    }

    pageScreen.querySelector('#btnPgto').addEventListener('click',()=>{
        const params = new Object;
            params.id = pageData.id
            params.pago = pageScreen.querySelector('#ckbPgto').checked
            params.pago_dia = pageScreen.querySelector('#edtData').value
            params.tipo = pageScreen.querySelector('#cmbTipo').value
            params.obs = pageScreen.querySelector('#edtObs').value.trim()
        const myPromisse = queryDB(params,'FIN-7')
        myPromisse.then((resolve)=>{
            setLog(`Pagamento a ${pageData.fornecedor} ${params.pago?'': 'NÃO '}Efetuado, Valor R$${pageData.valor} dia ${params.pago_dia}`)
            try{
                main_data.fin_pagar.func.fillPag()
            }catch{
                console.error('Tela fechada pelo usuário!')
            }
            alert('Cadastrado efetuado!')
            closeModal('fin_check_pgto')
            closeModal('fin_view_pagar')
        })

    })

    pageFunc.showQR = (cod)=>{
        const qrcode = new QRCode("qrcode", {
            text:cod,
            width: 250,
            height: 250,
            colorDark : "#000000",
            colorLight : "#ffffff",
            correctLevel : QRCode.CorrectLevel.H,
            size : 300
        })
    }

    pageScreen.querySelector('#cmbTipo').addEventListener('change',()=>{
        changePayMode()
    })

    function changePayMode(){
        const sel = pageScreen.querySelector('#cmbTipo')
        if(sel.value == 'BOLETO'){
            pageScreen.querySelector('#barcode').style.display = 'block'
            pageScreen.querySelector('#qrcode').style.display = 'none'
            JsBarcode("#barcode", cod2barcode(pageData.cod_pgto));
        }else if(sel.value == 'PIX'){
            pageScreen.querySelector('#barcode').style.display = 'none'
            pageScreen.querySelector('#qrcode').style.display = 'block'
            const myPix = new Pix(pageData.cod_pgto,pageData.valor,pageData.beneficiario,'CACAPAVA')
            pageFunc.showQR(myPix.payload())
//            console.log(myPix.payload())
        }else{
            pageScreen.querySelector('#barcode').style.display = 'none'
            pageScreen.querySelector('#qrcode').style.display = 'none'
        }
    }

    pageStart()

</script>
