<template>
    <style>

        .visual{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding-bottom: 30px;
        }

        .visual fieldset{
            margin-top: 0;
            min-width: 250px;
        }

        .visual-periodo{
            flex-direction: column;
        }


    </style>

    <div class="top">
        <h4>Visualizações</h4>

        <div class="visual">

            <fieldset>
                <legend>Movimentação</legend>
                <div class="inline">
                    <label for="ckbEntrada">Entradas</label>
                    <input type="checkbox" id="ckbEntrada" checked>
                </div>
    
                <div class="inline">
                    <label for="ckbSaida">Saídas</label>
                    <input type="checkbox" id="ckbSaida" checked>
                </div>
                </fieldset>
                <fieldset>
                <legend>Gráficos</legend>
                <div class="inline">
                    <label for="rbtTotal">Total no Peróodo</label>
                    <input type="radio" name="graph" id="rbtTotal" checked>
                </div>
                <div class="inline">
                    <label for="rbtDist">Dist. no Tempo</label>
                    <input type="radio" name="graph" id="rbtDist">
                </div>

            </fieldset>
            <fieldset class="">
                <legend>Período</legend>
                <div class="inline visual-periodo">
                    <input type="date" id="edtIni" onkeypress="return getEnter(event, 'btnBusca')">
                    <input type="date" id="edtFin" onkeypress="return getEnter(event, 'btnBusca')">
                    <div class="inline">
                        <label for="ckbData">no período:</label>
                        <input type="checkbox" id="ckbData" checked>
                    </div>
                </div>
            </fieldset>

        </div>

    </div>

    <hr>    

    <h4>Análise</h4>

    <div class="tab-bar">
        <div class="tab-item" id="tab-tabela"   onclick="pictab(this)">Dados       </div>
        <div class="tab-item" id="tab-total"    onclick="pictab(this)">Geral     </div>
        <div class="tab-item" id="tab-comp"     onclick="pictab(this)">Ent/Saida     </div>            
    </div>
    <div class="tab-screen">        
        <div id="tabela" class="tab">
            <table id="tblDados"></table>
        </div>
        <div id="total" class="tab"></div>
        <div id="comp" class="tab"></div>
    </div>


</template>
<script>
    const pageData = main_data.fin_analytics.data
    const pageFunc = main_data.fin_analytics.func
    const pageScreen = document.querySelector('#card-fin_analytics')

    function pageStart(){
        
        loadExternalScript("https://www.gstatic.com/charts/loader.js",'google_chart').then((resolve, reject)=>{
            console.log(resolve)
            pageFunc.fillData()
        })
        

        pageScreen.querySelector('#edtIni').value = today.iniMonth()
        pageScreen.querySelector('#edtFin').value = today.finMonth()
        
    }

    pageFunc.fillData = ()=>{
        const ckb = pageScreen.querySelector('#ckbData').checked ? 1 : 0 
        const params = new Object
            params.entrada = pageScreen.querySelector('#ckbEntrada').checked ? 'ENTRADA' : 'NULL'
            params.saida = pageScreen.querySelector('#ckbSaida').checked ? 'SAIDA' : 'NULL'
            params.dt_ini = !ckb ? '0000-00-00' : pageScreen.querySelector('#edtIni').value
            params.dt_fin = !ckb ? '9999-12-31' : pageScreen.querySelector('#edtFin').value
        const myPromisse = queryDB(params,'FIN-12')
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            const tbl = pageScreen.querySelector('#tblDados')
            tbl.head('Data,Ent/Sai,Credor,Devedor,Desc.,Valor,Saldo')
            for(let i=0; i<json.length; i++){
                tbl.plot(json[i],'venc,modalidade,credor,devedor,nome,valor,saldo','dat,Upp,Upp,Upp,Upp,R$.,R$.')
            }
            console.log(json)
        })
    }

    pageScreen.querySelector('#ckbEntrada').addEventListener('change',()=>{
        pageFunc.fillData()        
    })

    pageScreen.querySelector('#ckbSaida').addEventListener('change',()=>{
        pageFunc.fillData()        
    })

    pageScreen.querySelector('#edtIni').addEventListener('change',()=>{
        pageFunc.fillData()        
    })

    pageScreen.querySelector('#edtFin').addEventListener('change',()=>{
        pageFunc.fillData()        
    })

    pageStart()

</script>