
<template>
    <style>

    </style>

        <fieldset class="fds-busca pgto">
            <legend>Busca</legend>
            <div class="inline">
                <label for="edtBusca">por:</label>
                <select id="cmbBusca">
                    <option value="pgto" signal="=" val="0"selected>A Receber</option>
                    <option value="pgto" signal="=" val="1">Recebidos</option>
                    <option value="cliente" signal="LIKE" >Cliente</option>
                </select>
                <input type="text" id="edtBusca" onkeypress="return getEnter(event, 'btnBusca-pgto')">
                <button id="btnBusca-pgto" class="btn-round" ><span class="mdi mdi-magnify"></span></button>
                <button id="btnNovo" class="btn-round"><span class="mdi mdi-plus-thick"></span></button>            

            </div>
            <div class="inline">
                <div class="line-ckb">
                    <label for="ckbData">Início/Final</label>
                    <input type="checkbox" id="ckbData">
                </div>
                <input type="date" id="edtIni" onkeypress="return getEnter(event, 'btnBusca-pgto')">
                <input type="date" id="edtFin" onkeypress="return getEnter(event, 'btnBusca-pgto')">
            </div>  

            <table id="tblPag"></table>
        </fieldset>
    
</template>
<script>
  
    const pageData = main_data.fin_receber.data
    const pageFunc = main_data.fin_receber.func
    const pageScreen = document.querySelector('#card-fin_receber')

    function pageStart(){
        pageScreen.querySelector('#edtIni').value = today.iniMonth()
        pageScreen.querySelector('#edtFin').value = today.finMonth()
        pageFunc.fillPag()
    }

    pageFunc.fillPag = ()=>{
        const tbl = pageScreen.querySelector('#tblPag')
        tbl.innerHTML = ''
        const query = getVal('pgto')
        const ckb = pageScreen.querySelector('#ckbData').checked
        pageScreen.querySelector('#ckbData').checked = ckb
        const params = new Object
            params.field = query[0]
            params.signal = query[1]
            params.value = query[2]
            params.dt_ini = !ckb ? '0000-00-00' : pageScreen.querySelector('#edtIni').value
            params.dt_fin = !ckb ? '9999-12-31' : pageScreen.querySelector('#edtFin').value
        const myPromisse = queryDB(params,'FIN-10')
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)       
            tbl.style.display = json.length > 0 ? 'inline-table' : 'none'
            tbl.head('Cliente,Ref., Venc.,Valor,Pgto')
            let tot = 0
            for(let i=0; i<json.length;i++){
                tot += Number(json[i].valor)
                tbl.plot(json[i],'cliente,nome,venc,valor,pgto','Upp,Upp,dat,R$.,cha 0=NÃO 1=SIM')
            }
            tbl.plot({'tot':tot},',,Total,tot,','let,let,let,R$.,let')
        })
    }

    pageScreen.querySelector('#btnBusca-pgto').addEventListener('click',()=>{
        pageFunc.fillPag()
    })

    pageScreen.querySelector('#btnNovo').addEventListener('click',()=>{
        openHTML('fin_view_receber.html','pop-up','Título a Receber')
    })

    pageScreen.querySelector('#tblPag').addEventListener('click',(e)=>{
        try{
            if(main_data.hasOwnProperty('adm_view_emp')){
                closeModal('adm_view_emp')
            }
            data = e.target.parentNode.data
            data != undefined ? openHTML('fin_view_receber.html','pop-up',`Edição de dados - ${data.nome.toUpperCase()}`,data) : null
       }catch{

        }
    })

    pageStart()



 // 85820000219 0 69040328251 2 40072025129 5 63140046853 9  ->length  55
 // 820000219     69040328251   40072025129   63140046853   -> length 48
// 21296

/*
    00020126360014BR.GOV.BCB.PIX0114+5512996508245520400005303986540525.005802BR5925HENRIQUE DA SILVA DELFINO6008CACAPAVA62120508Teste12363043A8B

    00020126330014BR.GOV.BCB.PIX011112996508245520400005303986540525.005802BR5930KAUA HENRIQUE DA SILVA DELFINO6008CACAPAVA62120508Teste1236304892A
*/

</script>