
<template>
    <style>

        button{
            width: 98%;
        }

        #btnAddAll{
            display: none;
        }

    </style>

    <h1>NFs Serviço</h1>

    <div class="tab-bar">
        <div class="tab-item" id="tab-emitente" onclick="pictab(this)">Emitente    </div>
        <div class="tab-item" id="tab-pedido"   onclick="pictab(this)">Serviço     </div>
        <div class="tab-item" id="tab-cliente"  onclick="pictab(this)">Cliente     </div>            
        <div class="tab-item" id="tab-itens"    onclick="pictab(this)">Itens       </div>
        <div class="tab-item" id="tab-fatura"   onclick="pictab(this)">Faturamento </div>
        <div class="tab-item" id="tab-export"   onclick="pictab(this)">Arquivos</div>
    </div>
    
    <div class="tab-screen">        
        <div id="emitente" class="tab" path="Sdt_ProcessarpsIns/SDTRPS/Reg20/Reg20Item/">
            <div id="CONF" class="grupo">
                <div class="inline">
                    <label for="RazSocPre"> Razão Social *</label>
                    <input type="text" id="RazSocPre" class="campo" maxlength="60" />
                </div>
                <div class="inline">
                    <label for="CpfCnpjPre"> CNPJ </label>
                    <input type="text" id="CpfCnpjPre" class="campo SDTRPS" maxlength="18" onkeyup="valCNPJ(this)"/>
                    <label for="IMTom">Insc. Mun.</label>
                    <input type="text" id="IMTom" class="campo">
                </div>
                <div class="inline">
                    <label for="LogPre"> Endereço </label>
                    <input type="text" id="LogPre" class="campo" maxlength="60" />
                    <label for="NumEndPre"> Número: </label>
                    <input type="text" id="NumEndPre" class="campo" maxlength="10" style="max-width: 100px;" />
                </div>
                <div class="inline">
                    <label for="BairroPre"> Bairro </label>
                    <input type="text" id="BairroPre" class="campo" maxlength="60" />
                    <label for="ComplEndPre"> Complemento </label>
                    <input type="text" id="ComplEndPre" class="campo" maxlength="60" style="max-width: 200px;" />
                </div>
                <div class="inline">
                    <label for="MunPre"> Municipio</label>
                    <input type="text" id="MunPre" class="campo" maxlength="60" />
                    <label for="SiglaUFPre"> Sigla da UF </label>
                    <input type="text" id="SiglaUFPre" class="campo" maxlength="2" style="max-width: 50px;" />
                </div>
                <div class="inline">
                    <label for="CepPre"> CEP </label>
                    <input type="text" id="CepPre" class="campo" maxlength="10" onkeyup="valCEP(this)"/>
                    <label for="TelPre"> Tel </label>
                    <input type="text" id="TelPre" class="campo" maxlength="15" onkeyup="phone(this)"/>
                </div>
                <div class="inline">
                    <label> Email </label>
                    <input type="text" id="EmailPre" class="campo" maxlength="50" onkeyup="validaEmail(this)"/>
                </div>
            </div>
            <button id="btnSaveEmit">Salvar</button>
        </div>
        <div id="pedido" class="tab">
            <fieldset class="fds-busca nfs">
                <legend>Filtro</legend>
                <div class="inline">
                    <select id="cmbBusca">
                        <option value="id" signal="IN">Código</option>
                        <option value="empresa" signal="LIKE" selected>Cliente</option>
                        <option value="id_emp" signal="=">Cód. Cliente.</option>
                        <option value="num_carro" signal="IN" >Num. Carro</option>
                        <option value="num_carro" signal="IN" >NF</option>
                        <option value="num_carro" signal="IN" >Pedido</option>
                    </select>
                    <input type="text" id="edtBusca" onkeypress="return getEnter(event, 'btnBuscaServ')">
                    <button id="btnBuscaServ" class="btn-round" ><span class="mdi mdi-magnify"></span></button>
                </div>
                <div class="inline fdata">
                    <label for="ckbData">entre:</label>
                    <input type="checkbox" id="ckbData" checked>
                    <input type="date" id="edtIni" onkeypress="return getEnter(event, 'btnBuscaServ')">
                    <input type="date" id="edtFin" onkeypress="return getEnter(event, 'btnBuscaServ')">
                </div>
            </fieldset>  

            <table id="tblServExec"></table>
            <button id="btnAddAll">Adicionar Todos</button>

        </div>

        <div id="Reg20" class="grupo">

            <div id="cliente" class="tab" path="Sdt_ProcessarpsIns/SDTRPS/Reg20/Reg20Item/">
                    <div class="inline">
                        <label> Razão Social *</label>
                        <input type="text" id="RazSocTom" class="campo" maxlength="60" readonly/>
                    </div>
                    <div class="inline">
                        <label> CNPJ </label>
                        <input type="text" id="CpfCnpTom" class="campo" maxlength="18" onkeyup="valCNPJ(this)" readonly/>
                        <label> Insc. MUn. </label>
                        <input type="text" id="IMTom" class="campo" maxlength="18" onkeyup="valInt(this)" readonly/>
                    </div>
                    <div class="inline">
                        <label> Endereço </label>
                        <input type="text" id="LogTom" class="campo" maxlength="60" readonly/>
                        <label> Número: </label>
                        <input type="text" id="NumEndTom" class="campo" maxlength="5" style="max-width: 100px;" readonly/>
                    </div>
                    <div class="inline">
                        <label> Bairro </label>
                        <input type="text" id="BairroTom" class="campo" maxlength="60" readonly/>
                        <label> Complemento </label>
                        <input type="text" id="ComplEndTom" class="campo" maxlength="60" style="max-width: 200px;" readonly/>
                    </div>
                    <div class="inline">
                        <label> Municipio</label>
                        <input type="text" id="MunTom" class="campo" maxlength="60" readonly/>
                        <label> Sigla da UF </label>
                        <input type="text" id="SiglaUFTom" class="campo" maxlength="2" style="max-width: 50px;" readonly/>
                    </div>
                    <div class="inline">
                        <label> CEP </label>
                        <input type="text" id="CepTom" class="campo" maxlength="8" onkeyup="valCEP(this)" readonly/>
                        <label for="Telefone">Fone</label>
                        <input type="text" id="Telefone" class="campo" onkeyup="phone(this)" maxlength="15" readonly>
                    </div>
                    <div class="inline">
                        <label> Email </label>
                        <input type="text" id="EMail_1" class="campo" class="campo" maxlength="50" onkeyup="validaEmail(this)" readonly/>
                    </div>
            </div>
            <div id="itens" class="tab">
                <fieldset>
                    <legend>Descriminação dos Serviços</legend>
                    <textarea id="DiscrSrv" cols="30" rows="80" class="Reg20Item"></textarea>
                </fieldset>
            </div>

            <div id="fatura" class="tab grupo" path="Sdt_ProcessarpsIns/SDTRPS/">
                <div class="inline">
                    <label for="numNFS">Num NFs</label>
                    <input type="text" id="numNFS" class="" onkeyup="valInt(this)">
                    <label for="DefRPS">RPS Defasagem</label>
                    <input type="text" id="DefRPS" class="" onkeyup="valInt(this)">
                    <label for="">Data Emissão</label>
                    <input type="date" id="dtEmi" class="">
                </div>
                <div class="inline">
                    <label for="VlNFS">Valor R$</label>
                    <input type="text" id="VlNFS" value="0.00" class="Reg90 Reg20Item" onkeyup="valFloat(this)">
                    <label for="dfat">Dias entre Parcelas (separar por /)</label>
                    <input type="text" id="dfat" value="28">
                    <button class="btn-round" id="btnCalendar"><span class="mdi mdi-calendar-range"></span></button>
                    <label for="AlqIssSN_IP">Alíq. ISS</label>
                    <input type="text" id="AlqIssSN_IP" class="campo SDTRPS Reg20Item" onkeyup="valFloat(this)">
                </div>
                <div class="inline">
                    <label for="cmbLocal">Local Exec.</label>
                    <select id="cmbLocal" class="">
                        <option value="TOM" selected>No Cliente</option>
                        <option value="PRE">Na Empresa</option>
                    </select>
                    <label for="cmbRetFont">ISS Retido na Fonte</label>
                    <select id="cmbRetFont" class="">
                        <option value="SIM">Sim</option>
                        <option value="NAO" selected>Não</option>
                    </select>
                </div>
                <fieldset>
                    <legend>Dedução / Outras Informações</legend>
                    <textarea id="DiscrDed" cols="30" rows="15" class="Reg20Item">Serviço aprovado conforme Pedido:</textarea>
                </fieldset>
                <button id="brnGeraNFs">Gerar NFs</button>
            </div>
        </div>
        <div id="export" class="tab">
            <fieldset>
                <legend>XML</legend>
                <select id="xmlFiles" size="20"></select>
            </fieldset>              
        </div>                
    </div>

</template>
<script>

    const pageData = main_data.fisc_nfs.data
    const pageFunc = main_data.fisc_nfs.func
    const pageScreen = document.querySelector('#card-fisc_nfs')
    const nf_file = '/../config/NFs4_rules.json'

    startPage()

/* CHAMADA DE FUNÇÕES INICIAL */    

    function startPage(){
        pageScreen.querySelector('#tab-pedido').click()
        pageScreen.querySelector('#edtIni').value =  today.iniMonth()
        pageScreen.querySelector('#edtFin').value =  today.finMonth()
        pageScreen.querySelector('#dtEmi').value = today.getFormatDate()

        listNF('../NF/NFs/xml','xml')

        getFile(nf_file).then((json)=>{
            pageData.NFs = new NFs(JSON.parse(json))
            fillFormsXML('fatura')
        })

        loadData().then(function (response){
            if (response.status === 200) { 
                response.text()
                .then((txt)=>{
                    pageData.CONF = JSON.parse(txt) == null ? {} : JSON.parse(txt)
                    fillForms(pageData.CONF,'emitente')
                    fillForms(pageData.CONF,'fatura')
                    pageScreen.querySelector('#numNFS').value = Number(pageScreen.querySelector('#numNFS').value) + 1
                })
            } 
        })
        
    }

    function loadData(){
        const data = new URLSearchParams()
        data.append("path",'/../config/data.json' )

        const myRequest = new Request("backend/loadFile.php",{
            method : "POST",
            body : data
        })
        return fetch(myRequest)
    }

    function fillForms(obj,id_grupo){
        for(const key in obj){
            const field = pageScreen.querySelector(`#${id_grupo}`).querySelector(`#${key}`)
            if(field != undefined){
                field.value = obj[key]
                try{
                    field.onkeyup()
                }catch{null}
            }
        }
    }

    function fillFormsXML(id_grupo){        
        const path =  pageScreen.querySelector(`#${id_grupo}`).getAttribute('path')
        const fields = pageScreen.querySelector(`#${id_grupo}`).querySelectorAll(`.campo`)

        console.log(path)
        if(path != undefined){
            for(let i=0; i<fields.length; i++){
                console.log(fields[i].id)
                console.log()
                
                if(fields[i] != undefined){
                    console.log(pageData.NFs.getTagValue(path+fields[i].id))
                    fields[i].value = pageData.NFs.getTagValue(path+fields[i].id)
                    try{
                        fields[i].onkeyup()
                    }catch{null}
                }
    
            }
        }
    }

    function getForms(obj,id_grupo){
        for(const key in obj){
            const field = pageScreen.querySelector(`#${id_grupo}`).querySelector(`#${key}`)
            if(field != undefined){
                obj[key] = field.value
                try{
                    field.onkeyup()
                }catch{null}
            }
        }
    }

    function fillNFs(){

// Reg20Item
        pageData.NFs.setTagValue('NumRps',Number(pageScreen.querySelector('#numNFS').value)-Number(pageScreen.querySelector('#DefRPS').value),1)
        pageData.NFs.setTagValue('DtEmi',pageData.NFs.date)
        pageData.NFs.setTagValue('RetFonte',pageScreen.querySelector('#cmbRetFont').value)
        pageData.NFs.setTagValue('DiscrSrv',pageScreen.querySelector('#DiscrSrv').value)
        pageData.NFs.setTagValue('VlNFS',pageScreen.querySelector('#VlNFS').value,1)
        pageData.NFs.setTagValue('VlDed',pageScreen.querySelector('#cmbRetFont').value=='SIM' ? (Number(pageScreen.querySelector('#VlNFS').value) * Number(pageScreen.querySelector('#AlqIssSN_IP').value) / 100 ): 0,1)
        pageData.NFs.setTagValue('DiscrDed',pageScreen.querySelector('#DiscrDed').value)        
        pageData.NFs.setTagValue('VlBasCalc',pageScreen.querySelector('#VlNFS').value,1)
        pageData.NFs.setTagValue('AlqIss',pageScreen.querySelector('#AlqIssSN_IP').value,1)
        pageData.NFs.setTagValue('VlIss',Number(pageScreen.querySelector('#VlNFS').value) * (Number(pageScreen.querySelector('#AlqIssSN_IP').value) / 100) ,1)
        pageData.NFs.setTagValue('VlIssRet',pageScreen.querySelector('#cmbRetFont').value=='SIM' ? Number(pageScreen.querySelector('#VlNFS').value) * Number(pageScreen.querySelector('#AlqIssSN_IP').value) / 100 : 0,1)

// Reg90

        pageData.NFs.viewXML()

    }

    function saveNFs(){
        saveFile(pageData.NFs.rules,nf_file)
    }

    function downloadFile(path){
        const link = document.createElement("a")
        link.download = path.split('/')[path.split('/').length-1]
        link.href = path
        document.body.appendChild(link)
        link.click()
        document.body.removeChild(link)
        delete link
    }

    function addCliente(obj){
        const field_path = pageScreen.querySelector('#cliente').getAttribute('path')
        for(const key in obj){
            const field = pageScreen.querySelector(`#cliente`).querySelector(`#${key}`)
            if(field != undefined){

                pageData.NFs.setTagValue(key,obj[key])
                field.value =  obj[key]
                try{
                    field.onkeyup()
                }catch{null}
            }
        }
        pageScreen.querySelector('#tab-cliente').click()
    }

    pageScreen.querySelector('#btnSaveEmit').addEventListener('click',()=>{
        getForms(pageData.CONF,'CONF')
        saveFile(JSON.stringify(pageData.CONF),'/../config/data.json')
    })

    pageScreen.querySelector('#brnGeraNFs').addEventListener('click',()=>{
//        getForms(pageData.CONF,'20')
//        saveFile(JSON.stringify(pageData.CONF),'/../config/data.json')
        fillNFs()

//        saveNFs()

        const xml = pageData.NFs.viewXML()
        const filename = 'NFs-'+(pageScreen.querySelector('#numNFS').value).padStart(6,'0')
console.log(xml)
console.log(filename)        
//        uploadNfsXML(xml, filename) 
//        pageScreen.querySelector('#tab-export').click()

    })

    pageScreen.querySelector('#xmlFiles').addEventListener('dblclick',()=>{
        downloadFile('../NF/NFs/xml/' + pageScreen.querySelector('#xmlFiles').value)
    })

    pageScreen.querySelector('#btnBuscaServ').addEventListener('click',()=>{
        pageFunc.fillServExec()
    })

    pageFunc.fillServExec = ()=>{
        
        function getDate(){
            return (pageScreen.querySelector('#edtIni').value.length > 0 && pageScreen.querySelector('#edtFin').value.length > 0) || !pageScreen.querySelector('#ckbData').checked
        }
        
        if(getDate()){
            const tbl = pageScreen.querySelector('#tblServExec')
            tbl.innerHTML = ''
            const query = getVal('nfs')
            const params = new Object;
                params.field = query[0]
                params.signal = query[1]
                params.value = query[2]
                params.ini = pageScreen.querySelector('#ckbData').checked ? pageScreen.querySelector('#edtIni').value : '0000-00-00'
                params.fin = pageScreen.querySelector('#ckbData').checked ? pageScreen.querySelector('#edtFin').value : '9999-12-31'
            const myPromisse = queryDB(params,'SERV-0');
            myPromisse.then((resolve)=>{
                const json = JSON.parse(resolve)
                tbl.style.display = json.length > 0 ? 'inline-table' : 'none'
                pageScreen.querySelector('#btnAddAll').style.display = json.length > 0 ? 'inline-table' : 'none'
                tbl.head('Cod.,Data,Cliente,Carro,Valor')               
                for(let i=0; i<json.length;i++){
                    tbl.plot(json[i],'id,data_exec,empresa,num_carro,valor','str,dat,Upp,str,R$.')
                }         
            });
        }else{
            alert('Favor preencher as datas corretamente.')
        }
    }

    pageScreen.querySelector('#tblServExec').addEventListener('click',(e)=>{
        data = e.target.parentNode.data
        if(data != undefined){
            data.mode = 'edit'
            if (confirm(`Carregar Carro.${data.num_carro} de ${data.empresa.toUpperCase()}?`)) {
                const serv = pageScreen.querySelector('#DiscrSrv')
                if(serv.innerHTML.trim() == ''){
                    addCliente(data)          
                    serv.innerHTML = `CARRO:${data.num_carro}\n` + data.obs +'\n'
                    pageScreen.querySelector('#VlNFS').value = data.valor
                }else if (confirm(`Adicionar o carro ${data.num_carro} a NFs atual?`)){
                    serv.innerHTML += `\nCARRO:${data.num_carro}\n` + data.obs +'\n'
                    pageScreen.querySelector('#VlNFS').value =  (parseFloat(pageScreen.querySelector('#VlNFS').value)+parseFloat(data.valor)).toFixed(2)
                }
            }
        }
    })

    pageScreen.querySelector('#btnAddAll').addEventListener('click',()=>{        
        if (confirm('Deseja adicionar todos os ítens acima?')) {
            const rows = pageScreen.querySelector('#tblServExec').querySelectorAll('tr')
            const serv = pageScreen.querySelector('#DiscrSrv')
            const info = pageScreen.querySelector('#DiscrDed')
            let pedidos = ['']
            pageScreen.querySelector('#VlNFS').value = '0'
            serv.innerHTML = ''

            info.innerHTML = rows.length > 2 ? 'Serviço aprovado conforme Pedidos:' : 'Serviço aprovado conforme Pedido:'
            addCliente(rows[1].data)
            for(let i=1; i<rows.length; i++){
                serv.innerHTML += `\nCARRO:${rows[i].data.num_carro}\n` + rows[i].data.obs +'\n'
                pageScreen.querySelector('#VlNFS').value =  (parseFloat(pageScreen.querySelector('#VlNFS').value)+parseFloat(rows[i].data.valor)).toFixed(2)
                info.innerHTML += pedidos.includes(rows[i].data.pedido.trim()) ? '' : rows[i].data.pedido.trim()+' '
                pedidos.push(rows[i].data.pedido.trim())
            }
        }

    })

    function getFat(){
        const fat = pageScreen.querySelector('#fatura').querySelector('#dfat').value.split('/')
        
        for(let i=fat.length-1; i>=0; i--){
            fat[i] = getNum(fat[i])
            if(fat[i] == ''){
                fat.splice(i,1)
            }
        }
        return fat
    }

    pageScreen.querySelector('#btnCalendar').addEventListener('click',()=>{
        const fat = getFat()
        let Vfat = Number(pageScreen.querySelector('#VlNFS').value)
        let parc = (Vfat/fat.length).toFixed(2)

        let out = ''
        for(let i=0; i<fat.length; i++){
            const day = new Date()
            day.change(parseInt(fat[i]))
            out += `Parcela ${i+1} - ${day.getFormatBR()} -> R$${i<fat.length-1?parc:Vfat.toFixed(2)}\n`
            Vfat -= Number(parc)
        }        
        alert(out)
    })   

</script>