<template>
    <style>

        .w70{
            width: 70%;
        }
     
    </style>

    <fieldset class="fds-busca">
        <legend>Busca</legend>
        <div class="inline">
            <input type="text" id="edtBusca" onkeypress="return getEnter(event, 'btnBusca')">
            <button id="btnBusca" class="btn-round" ><span class="mdi mdi-magnify"></span></button>
            <button id="btnNovo" class="btn-round"><span class="mdi mdi-plus-thick"></span></button>
        </div>

        <table id="tblProc"></table>
    </fieldset> 

</template>
<script>

    const pageData = main_data.oper_processo.data
    const pageFunc = main_data.oper_processo.func
    const pageScreen = document.querySelector('#card-oper_processo')

    pageFunc.fillProc = ()=>{      
        const tbl = pageScreen.querySelector('#tblProc')
        tbl.innerHTML = ''
        const params = new Object;
            params.field = ''
            params.signal = ''
            params.value = ''
        const myPromisse = queryDB(params,'SEG-0')
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            tbl.style.display = json.length > 0 ? 'inline-table' : 'none'
            tbl.head('Nome|w70,Und.,Estq.,CA')
            for(let i=0; i<json.length; i++){
                tbl.plot(json[i],'nome,und,estq,num_ca','Upp,Upp,str,str')
            }         
        })
    }

    pageFunc.setProc = (id=0, del=0)=>{
        const params = new Object;
            params.id = id
            params.nome = del ?  '' : prompt('Nome do Processo:')
         
        const myPromisse = queryDB(params,'PRC-1');
        myPromisse.then((resolve)=>{
            try{
                main_data.adm_funcionarios.func.fillFunc()
            }catch{
                console.error('Tela fechada pelo usuário!')
            }            
            setLog(`Processo ${id? del? 'DELETADO' : 'Editado':'Cadastrado'} ${pageData.nome}`)
            alert('Cadastrado efetuado!')
//            closeModal('adm_view_func')
        })
    }

    pageScreen.querySelector('#btnBusca').addEventListener('click',()=>{
        pageFunc.fillProc()
    })

    pageScreen.querySelector('#btnNovo').addEventListener('click',()=>{
        pageFunc.setProc()
    })

    pageScreen.querySelector('#tblProc').addEventListener('click',(e)=>{       
        data = e.target.parentNode.data
        if(main_data.hasOwnProperty('seg_view_epi')){
            closeModal('seg_view_epi')
        }

        data != undefined ? openHTML('seg_view_epi.html','pop-up',`Edição de EPI - ${data.nome.toUpperCase()}`,data) : null

    })

 
</script>