
<template>
    <style>

        #tblOS tr:nth-child(2n){
            background-color: unset;
            filter: brightness(97%);
        }

        .normal{
            background-color: rgb(199, 250, 207) !important;
        }
        .atention{
            background-color: rgb(245, 245, 162) !important;
        }
        .critical{
            background-color: rgb(250, 199, 199) !important;
        }

        .center-text{
            text-align: center;
        }

        #lblTotal{
            font-weight: bolder;
            font-size: 1.4em;
            padding: 20px;
            display: none;
            width: 100%;
            text-align: right;
        }

        #btnRelat{
            width: 98%;
            display: none;
        }

        #btnNova{
            width: 97%;
        }

        .fds-status{
            display: flex;
            justify-content: center;
            gap: 50px;
        }

        @media (max-width: 768px) {
/*            
            .fds-busca label {
                display: flex;
                justify-content: flex-start;
            }
*/                
            .center-itens .line-ckb{
                width: 5%;
            }
            .center-itens input[type=date]{
                width: 80%;
            }

            #edtBusca{
                margin-left: 35px;
                width: 40%;
            }

            #lblConc{
                display: flex;
                justify-content: right;
            }

        }


    </style>

        <fieldset class="fds-busca os">
            <legend>Filtro:</legend>
    
            <div class="inline">
                <select id="cmbBusca">
                    <option value="id" signal="IN">OS</option>
                    <option value="cliente" signal="LIKE">Cliente</option>
                    <option value="processo" signal="LIKE">Processo</option>
                    <option value="setor" signal="LIKE" selected>Setor</option>
                </select>
                <input type="text" id="edtBusca" placeholder="Digite sua Busca" onkeypress="return getEnter(event, 'btnBusca')">
                <button id="btnBusca" class="btn-round"><span class="mdi mdi-magnify"></span></button>
                <button id="btnNovo" class="btn-round"><span class="mdi mdi-plus-thick"></span></button>
            </div>
        </fieldset>
            <fieldset>
                <legend>Entrega</legend>
                <div class="inline center-itens">
                    <div class="line-ckb">
                        <label for="ckbData">de</label>
                        <input type="checkbox" id="ckbData">
                        <input type="date" id="edtIni">
                    </div>
                    <div class="line-ckb">
                        <label for="ckbData_fin">até</label>
                        <input type="checkbox" id="ckbData_fin">
                        <input type="date" id="edtFin">
                    </div>                
                </div>                
            </fieldset>
            <fieldset class="fds-status">
                <legend>Status</legend>
                <div class="line-ckb">
                    <label for="rdoAberta">Abertas</label>
                    <input type="radio" name="status" id="rdoAberta" checked>
                </div>   
                <div class="line-ckb">
                    <label for="rdoFechada">Encerradas</label>
                    <input type="radio" name="status" id="rdoFechada">
                </div>   
                <div class="line-ckb">
                    <label for="rdoTodas">Todas</label>
                    <input type="radio" name="status" id="rdoTodas">
                </div>   
            </fieldset>


        <table id="tblOS"></table>
          


</template>
<script>

    const pageData = main_data.oper_os.data
    const pageFunc = main_data.oper_os.func
    const pageScreen = document.querySelector('#card-oper_os')


    pageFunc.pageStart = ()=>{
        pageScreen.querySelector('#edtIni').value =  today.overday(-7)
        pageScreen.querySelector('#edtFin').value =  today.overday(30)
        pageFunc.fillOS()

        const radio = pageScreen.querySelectorAll('input[name="status"]')
        for(let i=0; i<radio.length; i++){
            radio[i].addEventListener('change',()=>{
                pageFunc.fillOS()
            })
        }
        
    }

    pageFunc.fillOS = ()=>{     
        const ckb_ini = pageScreen.querySelector('#ckbData').checked
        const ckb_fin = pageScreen.querySelector('#ckbData_fin').checked
        const tbl = pageScreen.querySelector('#tblOS')
        tbl.innerHTML = ''
        const query = getVal('os')
        const params = new Object;
            params.field = query[0]
            params.signal = query[1]
            params.value = query[2]
            params.dt_ini = ckb_ini ? pageScreen.querySelector('#edtIni').value : '0000-00-00'
            params.dt_fin = ckb_fin ? pageScreen.querySelector('#edtFin').value : '9999-12-31'
        const myPromisse = queryDB(params,'OS-0')
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            const status = pageScreen.querySelector('#rdoTodas').checked ? 1 : pageScreen.querySelector('#rdoAberta').checked ? 2 : 3

            tbl.style.display = json.length > 0 ? 'inline-table' : 'none'
            tbl.head('OS|center-text,Serviço, Cliente, Entrega,Setor,<span class="mdi mdi-check-bold"></span>')
            for(let i=0; i<json.length; i++){        
                if(status==1 || (status==2 && json[i].aberta=="1") || (status==3 && json[i].aberta=="0" ) ){
                    tbl.plot(json[i],'id,processo,cliente,dt_entrega,setor,ok','padStart(4.0),Upp,Upp,dat,Upp,Upp')
                }
                const row = tbl.rows[tbl.rows.length-1]
                const entrega = new Date(json[i].dt_entrega+' 00:00:00')
                const days = Math.ceil((entrega-today)/86400000)
                row.classList.add(json[i].setor == 'CONCLUIDA' || days > 7 ? 'normal' : days <=0 ? 'critical' : 'atention')
            }

        })
    }

    pageScreen.querySelector('#btnBusca').addEventListener('click',()=>{
        pageFunc.fillOS()
    })

    pageScreen.querySelector('#btnNovo').addEventListener('click',()=>{
        openHTML('oper_view_os.html','pop-up','Order de Serviço')
    })

    pageScreen.querySelector('#tblOS').addEventListener('click',(e)=>{       
        data = e.target.parentNode.data
        data != undefined ? openHTML('oper_view_os.html','pop-up',`Ordem de Serviço - ${data.id.padStart(4,0)}`,data) : null
    })

    pageFunc.pageStart()

</script>