<template>    
    <style>
        .draw-screen{
            width: 100%;
            height: 100%;
        }
     
        main{
            padding: unset !important;
            display: contents;
        }

    </style>

    <div class="inline">
        <label for="edtAlt">Altura</label>
        <input type="text" id="edtAlt">
        <label for="edtLarg">Largura</label>
        <input type="text" id="edtLarg">
    </div>
    <div class="inline">
        <label for="edtAltSanf">Alt. Sanfoniha</label>
        <input type="text" id="edtAltSanf">
        <label for="edtLargSanf">Larg. Sanfoniha</label>
        <input type="text" id="edtLargSanf">
    </div>
    <div class="line">
        <button id="btnGerar">Gerar</button>
    </div>
    <div class="draw-screen">
        <main></main>

    </div>


</template>
<script>

    const pageData = main_data.proj_medidas.data
    const pageFunc = main_data.proj_medidas.func
    const pageScreen = document.querySelector('#card-proj_medidas')

    function pageStart(){
        pageScreen.classList.add('fullscreen')

        console.log(pageScreen.offsetWidth)

    }

    var sk = function( sketch ) {
        sketch.setup = function() {
            const width = pageScreen.offsetWidth -30
            sketch.createCanvas(width, 410)
        }
        sketch.draw = function(){
            sketch.background(0)
        }
    }
    var myp5 = new p5(sk)

    pageStart()

</script>