<template>
    <style>
        .add-he{
            width: auto !important;
            cursor: pointer;
        }
     
    </style>
  
    <fieldset>
        <legend>Horas</legend>
        <div class="inline">
            <label for="hrEnt">Entrada</label>
            <input class="add-he" type="time" id="hrEnt" onfocusout="fillTime(this)">
            <input class="add-he" type="date" id="dtEnt" >
        </div>
        <div class="inline">
            <label for="hrSai">Saída</label>
            <input class="add-he" type="time" id="hrSai" onfocusout="fillTime(this)">
            <input class="add-he" type="date" id="dtSai" >
        </div>
        <div class="line">
            <button id="btnSave">Salvar</button>
            <button id="btnDel">Limpar</button>
        </div>

    </fieldset>


</template>
<script>
    const pageData = main_data.rh_add_relogio_ponto.data
    const pageFunc = main_data.rh_add_relogio_ponto.func
    const pageScreen = document.querySelector('#card-rh_add_relogio_ponto')

    pageScreen.querySelector('#hrEnt').value =  pageData.ent.innerHTML
    pageScreen.querySelector('#dtEnt').value =  pageData.ent.dt_ent
    pageScreen.querySelector('#hrSai').value =  pageData.sai.innerHTML
    pageScreen.querySelector('#dtSai').value =  pageData.sai.dt_sai

    pageScreen.querySelector('#btnSave').addEventListener('click',()=>{
        const params = new Object        
            params.entrada = pageScreen.querySelector('#dtEnt').value+' '+pageScreen.querySelector('#hrEnt').value+':00'
            params.saida = pageScreen.querySelector('#dtSai').value+' '+pageScreen.querySelector('#hrSai').value+':00'
            params.id_func = pageData.id_func
        const myPromisse = queryDB(params,'REL-1')
        myPromisse.then((resolve)=>{         
            setLog(`Novo Registro de Hora: ${pageScreen.querySelector('.modal-title').querySelector('p').innerHTML.split(' - ')[0]} Entrada: ${pageScreen.querySelector('#dtEnt').value.date()} as ${pageScreen.querySelector('#hrEnt').value}, Saída: ${pageScreen.querySelector('#dtSai').value.date()} as ${pageScreen.querySelector('#hrSai').value}`)
            main_data.rh_relogio_ponto.func.fillFunc()
            closeModal('rh_add_relogio_ponto')
        })
    })

    pageScreen.querySelector('#btnDel').addEventListener('click',()=>{
        if(confirm('Deseja limpar este registro?')){
            const params = new Object        
                params.entrada = pageScreen.querySelector('#dtEnt').value
                params.id_func = pageData.id_func
            const myPromisse = queryDB(params,'REL-2')
            myPromisse.then((resolve)=>{
                setLog(`Registro de Hora Deletado: ${pageScreen.querySelector('.modal-title').querySelector('p').innerHTML.split(' - ')[0]} Entrada: ${pageData.ent.dt_ent.date()} as ${pageData.ent.innerHTML}, Saída: ${pageData.sai.dt_sai.date()} as ${pageData.sai.innerHTML}`)         
                main_data.rh_relogio_ponto.func.fillFunc()
                closeModal('rh_add_relogio_ponto')
            })
        }

    })


</script>