
<template>
    <style>

        h3{
            padding: 0 10px;
        }

        table{
            font-size: 0.8em;
        }

        th{
            text-align: center;
            padding: 0;
        }

        #btnPrint{
            display: none;
            font-size: 1.7em;
            gap: 10px;
            justify-content: center;
            width: 200px;
            height: 50px;
            min-width: unset;
            border-radius: 25px;
        }

        .day-name{
            font-size: 1.2em;
            font-weight: 600;
            text-align: center;
        }

        .week-end{
            color: brown;
        }

        .setor{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 10px;
        }

        .box{
            flex-grow: 3;
        }

        .ckb{
            width: 0;
        }

        .tbl-btn{
            border-radius: 50%;
            font-size: 1.3em;
            font-weight: 10;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .frm-pcp{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        .left-panel, .rigth-panel{
            width: 100%;
            max-width: 584px;
        }

        .left-panel fieldset, .rigth-panel fieldset{
            height: 100%;
        }

        .rigth-panel fieldset{
            min-height: 600px;
        }

        .pcp-cell:hover,
        tr:hover .day-name,
        .mark{
            background-color: yellow;
            color: rgb(15, 14, 14);
        }

        #tblSetor{
            display: none;
        }

        @media all and (max-width : 768px) {

            td{
                font-size: 0.6em;
                max-width: 15vw ;
                max-height: 300px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }


        }        

    </style>
  
        <h1>Planejamento e Controle de Produção</h1>

            <fieldset>
                <legend id="lgdSem">Semana</legend>
                <div class="inline">
                    <label for="edtSem">Semana</label>
                    <input type="date" id="edtSem">
                    <button id="btnBusca" class="btn-round" ><span class="mdi mdi-magnify"></span></button>  
                    <button id="btnShow" class="btn-round"><span class="mdi mdi-account-details"></span></button>
                </div>
                <table id="tblSetor"></table>
            </fieldset>

            <table id="tblPCP"></table>
            <div class="line">
                <button id="btnPrint" class="btn-round"><span class="mdi mdi-printer"></span></button>
            </div>
            

</template>
<script>

    const pageData = main_data.tool_pcp.data
    const pageFunc = main_data.tool_pcp.func
    const pageScreen = document.querySelector('#card-tool_pcp')

    const dia = ['Seg','Ter','Qua','Qui','Sex','Sab','Dom']
    const tbl = pageScreen.querySelector('#tblPCP')
    const setor = []
    pageScreen.querySelector('#edtSem').value = today.getFormatDate()

    pageFunc.fillSetor = ()=>{
        const tbl = pageScreen.querySelector('#tblSetor')
        const params = new Object;
            params.field = 'nome'
            params.signal = 'LIKE'
            params.value = "'%%'"
        const myPromisse = queryDB(params,'ADM-1');
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            tbl.innerHTML = '<tr><th colspan="3">SETORES</th></tr>'
            for(let i=0; i<json.length;i++){
                const index = pageData.setores.findIndex(p => p.id === json[i].id)
                if(index >=0){
                    json[i].sel = pageData.setores[index].sel ? 0 : 1
                    json[i].ord = pageData.setores[index].ord
                }else{
                    json[i].sel = 1
                    json[i].ord = i
                }

                tbl.plot(json[i],'ord|ckb,sel|ckb,nome','btn ↑,ckb,Upp')
            }   
            sortTable()
        });
    }

    pageFunc.viewWeek = ()=>{
        const week = new Date(pageScreen.querySelector('#edtSem').value)
        tbl.innerHTML = ''
        let head = 'Dia'
        for(let i=0; i<pageData.setores.length; i++){
            if(pageData.setores[i].sel){
                head+=`,${pageData.setores[i].nome}`
            }
        }        
        tbl.head(head)
        week.change(-week.getDay()+1)
        pageScreen.querySelector('#lgdSem').innerHTML = `Semana de ${week.getFormatBR()}`

        pageData.start = week.getFormatDate()
        for(let i=0; i<7; i++){
            const row = document.createElement('tr')            
            row.classList = 'd-'+week.getFormatDate()
            row.id = dia[i]
            row.data = new Object
            row.data.day = new Date(week.getFormatDate())
            row.data.day.change()
            for(let j=0; j<=pageData.setores.length; j++){
                const td = document.createElement('td')
                if(j==0){
                    td.innerHTML =   `${dia[i]} ${week.getDate().toString().padStart(2,0)}/${(week.getMonth()+1).toString().padStart(2,0)}` 
                    td.classList = 'day-name' 

                    const feriados = pageData.feriados.filter(e => e.mes === (week.getMonth()+1).toString())
                    const he = feriados.filter(e => e.dia === (week.getDate()).toString())
                    td.classList.add( i>4 || he.length > 0 ? 'week-end' : null)

                    row.appendChild(td)
                }else{                    
                    if(pageData.setores[j-1].sel){
                        const data = new Object
                            data.nome = pageData.setores[j-1].nome
                            data.data = week.getFormatDate()
                            data.data_br = week.getFormatBR()
                            data.id = pageData.setores[j-1].id
    
                        td.innerHTML = ''
                        td.classList = 'pcp-cell'
                        td.id = `day-${data.data}-${pageData.setores[j-1].id}`
                        td.addEventListener('click',()=>{
                            data.content = td.innerHTML
                            openHTML('tool_view_PCP.html','pop-up',`${data.nome} - ${dia[i]} ${data.data_br}`,data,800)
                        })
                        td.addEventListener('mouseover',(e)=>{
                            tbl.rows[0].cells[(e.target.cellIndex)].classList.add('mark')
                        })
                        td.addEventListener('mouseout',(e)=>{
                            tbl.rows[0].cells[(e.target.cellIndex)].classList.remove('mark')
                        })

                        row.appendChild(td)
                    }
                }
            }
            tbl.appendChild(row)
            week.change()
        }
        week.change(-1)
        pageData.end = week.getFormatDate()
        pageScreen.querySelector('#lgdSem').innerHTML += ` a ${week.getFormatBR()}`

        const params = new Object;
            params.dt = pageScreen.querySelector('#edtSem').value

        const myPromisse = queryDB(params,'TOOL-0');

        myPromisse.then((resolve)=>{
            pageScreen.querySelector('#btnPrint').style.display = 'none'
            if(resolve.trim() != ""){
                const json = JSON.parse(resolve)    
                for(let i=0; i<json.length;i++){
                    pageFunc.refresh(json[i])       
                }                
            }        
        })
    }

    pageFunc.refresh = (json)=>{
        looking = pageScreen.querySelector(`#day-${json.data_serv}-${json.id_setor}`)
        if(looking != undefined ){
            looking.innerHTML = json.valor
            pageScreen.querySelector('#btnPrint').style.display = 'flex'
        }
    }

    pageFunc.feriados = ()=>{
        queryDB({},'ADM-6').then((resolve)=>{
            pageData.feriados = JSON.parse(resolve)
        })
    }

    pageScreen.querySelector('#btnBusca').addEventListener('click',()=>{
        pageFunc.viewWeek()
    })

    pageScreen.querySelector('#edtSem').addEventListener('change',()=>{
        pageFunc.viewWeek()       
    })

    pageScreen.querySelector('#btnShow').addEventListener('click',()=>{
        const tbl = pageScreen.querySelector('#tblSetor')
        if (tbl.style.display != "inline-table") {
            tbl.style.display = "inline-table";
        } else {
            tbl.style.display = "none";
        }
    })

    pageScreen.querySelector('#btnPrint').addEventListener('click',()=>{
        print_pcp(pageScreen.querySelector('#tblPCP').rows)
    })

    pageScreen.querySelector('#tblSetor').addEventListener('click',(e)=>{
        const tbl = pageScreen.querySelector('#tblSetor')
        pageData.setores = []

        if(e.target.type!='checkbox'){
            if(e.target.type!='submit'){
                const ckb = e.target.parentNode.childNodes[1].childNodes[0]
                ckb.checked = !ckb.checked                
            }else{
                const row = e.target.parentNode.parentNode
                if(row.rowIndex > 0){
                    const rows = row.parentNode.rows
                    let aux = rows[row.rowIndex].data.ord
                    rows[row.rowIndex].data.ord = rows[row.rowIndex-1].data.ord
                    rows[row.rowIndex-1].data.ord = aux
                    rows[row.rowIndex].parentNode.insertBefore(rows[row.rowIndex], rows[row.rowIndex-1]);
                }
            }
        }

        for(let i=1; i<tbl.rows.length; i++){
            tbl.rows[i].data.sel = tbl.rows[i].cells[1].childNodes[0].checked
            pageData.setores.push(tbl.rows[i].data)
        }

        setConfig('pcp' , JSON.stringify(pageData.setores))
    })

    function sortTable(){
        const rows = pageScreen.querySelector('#tblSetor').rows
        for(let i=1;  i<rows.length; i++){
            for(let j=rows.length-1; j>i; j--){
                const rowindex = rows[j].rowIndex
                if(Number(rows[j].data.ord) < Number(rows[j-1].data.ord)){
                    rows[rowindex].parentNode.insertBefore(rows[rowindex], rows[rowindex-1]);
                }
            }
        }
    }

    pageFunc.feriados()

    getConfig('pcp')
    .then((response)=>{
        pageData.setores  = response=='' ? [] : JSON.parse(JSON.parse(response))     
        pageFunc.fillSetor()
    })


</script>